a {
  text-decoration: none
}
blockquote {
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
  // -webkit-margin-before: 0;
  // -webkit-margin-after: 0;
  border-left: 2px solid #cbcbcb;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #666;
  background: #f8f8f8;
}
img[src=''],img:not([src]){
  opacity: 0;
}